* {
    margin: 0;
    /* box-sizing: border-box; */
}

html,
body {
    font-size: 18px;
    font-family: sans-serif;
}

div {
    padding: 4px;
    margin: 4px;
}

.container {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 30px auto;
    background: #f1f1f1;
    padding: 30px;
}

.section {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

h3 {
    text-align: center;
    padding: 5px;
    margin: 5px;
}

button {
    background: none;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: .9rem;
}

button:hover {
    background: orangered;
}

button:active {
    background: #000;
    color: #fff;
}
